/* General website styling choices */
.page{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

/*Header Styling*/
#header-container{
    display: flex;
    color: #d7d2cc;
    flex-direction: row;
    font-size: 1.5vw;
    justify-content: space-between;
    padding: 0vh 20vw;
    height: 10vh;
}

#nav-bar{
    display: flex;
}

#nav-bar *{
    padding: 0px 5px;
}

#nav-bar a:hover{
    text-decoration: underline solid currentColor;
    font-size: 2vw;
}

#nav-bar a{
    color: inherit;
    text-decoration: underline solid transparent;
    transition: all 1s ease;
}

a{
    color: inherit;
    text-decoration: none;
}

/* Footer Styling */
#footer-container{
    color: #d7d2cc;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5vw;
    height: 10vh;
}

#social-section{
    display: flex;
    flex-direction: column;
    width: 20vw;
    text-align: left;
    height: 100vh;
}

#socials{
    display: flex;
    margin-top: 3vh;
}

#socials * {
    margin-right: 20%;;
}

/*Homepage Styling */
.body{
    display: flex;
    color: #d7d2cc;
    height: 80vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#avatar{
    margin-right: 5%;
    width: 20vw;
    height: 45vh;
}

#title-text{
    display: flex;
    flex-direction: column;
    font-size: 4vw;
    width: 50vw;
    height: 100vh;
    justify-content: space-evenly;
}

.vertical{
    flex-direction: column;
    align-items: center;
}

/*About Page Styling */
.vertical b{
    text-align: center;
    font-size: 3vw;
}

.about-section{
    background: linear-gradient(to right, #777f85 0%,#d7d2cc 100%);
    color: black;
    width: 33vw;
    font-size: 1rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding: 2%;
}

.about-section button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 100%;
}

#life:hover, #software:hover, #golf:hover{
    background: #d7d2cc;
}

#radio-buttons{
    display: flex;
    width: 80%;
    margin-top: 2%;
    justify-content: space-evenly;
    justify-content: center;
    text-align: center;
}

#text-box{
    flex-grow: 1;
    margin: 0%;
    width: 80%;
    background-color: #d7d2cc;
    color: black;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

#text-box table{
    width: 100%;
    height: 100%;
}

tr{
    width: 100%;
}

.image-container{
    display: flex;
    justify-content: center;
    padding-left: 40%;
}

.image{
    height: 10vw;
    max-width: 15vw;
}

.text{
    padding: 0% 10%;
}

#title{
    font-size: 1.5rem;
}

/* Skills Page Styling */

#certification-wall{
    height: 70%;
    width: 80vw;
    background-color: #d7d2cc;
    border-radius: 15px;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.certificate{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 0.5rem;
    text-align: center;
    height: 40%;
    width: 15%;
    background-color: white;
    padding: 0% 3%;
    margin: 3%;
    border-radius: 15px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    transition: all 1s ease;
}

.certificate:hover {
    transform: scale(1.2);
}

.certificate-button{
    background-color: #008080;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.75rem;
    transition: background-color 0.3s ease;
}

.certificate-button:hover{
    background-color: #006666;
}

.certification-title{
    font-size: 2rem;
    margin-bottom: 0;
}

#skill-list{
    height: 25%;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skill-container{
    height: 80%;
    width: 100%;
    background-color: #d7d2cc;
    border-radius: 15px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.skill{
    height: fit-content;
    width: fit-content;
    color: white;
    text-align: center;
    margin: 1% 2%;
    padding: 1%;
    background-color: #006666;
    border-radius: 10px;

}