/* General website styling choices */
.page{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

/*Header Styling*/
.header-footer{
    display: flex;
    color: #d7d2cc;
    flex-direction: row;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 0% 20%;
    height: 10%;
    align-items: center;
}

#nav-bar{
    display: flex;
}

#nav-bar *{
    padding: 0px 5px;
}

#nav-bar a:hover{
    text-decoration: solid currentColor;
    font-size: 2rem;
}

#nav-bar a{
    color: inherit;
    text-decoration: solid transparent;
    transition: all 1s ease;
}

a{
    color: inherit;
    text-decoration: none;
}

/* Footer Styling */
#social-section{
    display: flex;
    text-align: left;
}

#social-section * {
    margin-right: 20%;
}

/*Homepage Styling */
.body{
    display: flex;
    color: #d7d2cc;
    height: 80%;
    width: 80%;
    margin: 0% 10%;
}

.center{
    align-items: center;
    justify-content: center;
}

#avatar{
    margin-right: 5%;
    width: 25%;
    height: 55%;
}

.large-text{
    font-size: 3rem;
}

.medium-text{
    font-size: 2rem;
}

.small-text{
    font-size: 1.5rem;
}

.vertical{
    flex-direction: column;
    align-items: center;
}

.horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

/*About Page Styling */
.vertical b{
    text-align: center;
    font-size: 3vw;
}

.about-section{
    background: linear-gradient(to right, #777f85 0%,#d7d2cc 100%);
    color: black;
    width: 25%;
    font-size: 1rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding: 1% 0%;
}

.centered{
    text-align: center;
}

.about-section button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 100%;
}

#life:hover, #software:hover, #golf:hover{
    background: #d7d2cc;
}

#buttons{
    display: flex;
    width: 80%;
    margin-top: 2%;
    justify-content: space-evenly;
    justify-content: center;
    text-align: center;
}

#text-box{
    width: 60%;
    height: 60%;
    background-color: #d7d2cc;
    color: black;
    padding-bottom: 3%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image{
    height: 50%;
    max-width: 15vw;
}

.text{
    padding: 0% 10%;
    overflow-y: auto;
    color: black;
}

/* Skills Page Styling */

#certification-wall{
    width: 100%;
    background-color: #d7d2cc;
    border-radius: 15px;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.row{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.certificate{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 20%;
    background-color: white;
    padding: 3% 3%;
    margin: 3%;
    border-radius: 15px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    transition: all 1s ease;
}

.certificate:hover {
    transform: scale(1.1);
}

.certificate-button{
    background-color: #008080;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.75rem;
    transition: background-color 0.3s ease;
}

.certificate-button:hover{
    background-color: #006666;
}

#skill-list{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skill-container{
    width: 100%;
    background-color: #d7d2cc;
    border-radius: 15px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.skill{
    height: fit-content;
    width: fit-content;
    color: white;
    text-align: center;
    margin: 1% 2%;
    padding: 1%;
    background-color: #006666;
    border-radius: 10px;

}

/*Contact Page Styling */
.field{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.field label{
    margin-right: 2%;
}

input{
    border-radius: 15px;
}

.contact-box{
    background-color: #d7d2cc;
    color: black;
    padding: 2%;
    border-radius: 15px;
    overflow-y: auto;
}
.contact-box .field button{
    color: white;
    background-color: #006666;
    border-radius: 10px;
    cursor: pointer;
}

.fill-container{
    width: 100%;
}